
$text-color: #FFFFFF;

.container-fluid {

    .navbar {
        height: 50px;
        padding-top: 5px;
        padding-bottom: 5px;

        .navbar-brand {
            color: $text-color;
        }

        #search-input {
            border-radius: 10px;
            height: 30px;
            padding: 10px;
        }
    }

    #title {
        text-align: center;
        padding: 20px;
        font-weight: 800;
    }

    #main-content {
        margin: 20px;
        width: 90%;
    }

    #search-dropdown {
        background-color: #ECF0F1;
        width: 200px;
        list-style: none;
        border-radius: 10px; 
        margin-top: 309px; 
        z-index: 1;
        padding: 10px;  
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    }

    #search-item {
        padding: 20px 10px;
        cursor: pointer;
        border-radius: 10px;
    }

    #search-item:hover {
        color: grey;
    }

    #show-list {
        align-self: center;
        margin-top: 10px;
    }

    #show-item {
        width: 30%;
    }

    .card-text {
        padding: 10px;
    }

    .card {
        padding: 20px;
        background-color: #ECF0F1;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    }

    footer {
        margin-top: 30px;
    }
}