header {
    width: 100% ;

   #navbar {
    display: flex;
    justify-content: center;
   }
   #home-page-button {
    padding-left: 10%;
   }
   #navbar-form {
    padding-right: 10%;
   }
}

main {
    width: 70%;

    #card {
        width: 30%;
        height: auto;
    }
}

footer {
    width: 100%;
}